<a href="https://colab.research.google.com/github/DtotheS/AI-in-the-wild/blob/main/src/er_data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
import pandas as pd

# Define file paths
df21 = pd.read_excel("data/e2021.xlsx")
df22 = pd.read_excel("data/e2022.xlsx")
df23 = pd.read_excel("data/e2023.xlsx")
df24 = pd.read_excel("data/e2024.xlsx")

In [56]:
df21.columns
df21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465 entries, 0 to 464
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Database                465 non-null    object
 1   Publisher               465 non-null    object
 2   Publisher_ID            0 non-null      float64
 3   Platform                465 non-null    object
 4   Proprietary_ID          465 non-null    object
 5   Metric_Type             465 non-null    object
 6   Reporting_Period_Total  465 non-null    int64
 7   Jan-2021                465 non-null    int64
 8   Feb-2021                465 non-null    int64
 9   Mar-2021                465 non-null    int64
 10  Apr-2021                465 non-null    int64
 11  May-2021                465 non-null    int64
 12  Jun-2021                465 non-null    int64
 13  Jul-2021                465 non-null    int64
 14  Aug-2021                465 non-null    int64
 15  Sep-2021                465 non-null    int64
 16  Oct-2021                465 non-null    int64
 17  Nov-2021                465 non-null    int64
 18  Dec-2021                465 non-null    int64
dtypes: float64(1), int64(13), object(5)
memory usage: 69.2+ KB

In [57]:
df22.columns
df22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433 entries, 0 to 432
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Database                433 non-null    object
 1   Publisher               433 non-null    object
 2   Publisher_ID            0 non-null      float64
 3   Platform                433 non-null    object
 4   Proprietary_ID          433 non-null    object
 5   Metric_Type             433 non-null    object
 6   Reporting_Period_Total  433 non-null    int64
 7   Jan-2022                433 non-null    int64
 8   Feb-2022                433 non-null    int64
 9   Mar-2022                433 non-null    int64
 10  Apr-2022                433 non-null    int64
 11  May-2022                433 non-null    int64
 12  Jun-2022                433 non-null    int64
 13  Jul-2022                433 non-null    int64
 14  Aug-2022                433 non-null    int64
 15  Sep-2022                433 non-null    int64
 16  Oct-2022                433 non-null    int64
 17  Nov-2022                433 non-null    int64
 18  Dec-2022                433 non-null    int64
dtypes: float64(1), int64(13), object(5)
memory usage: 64.4+ KB

In [58]:
df23.columns
df23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Database                494 non-null    object
 1   Publisher               494 non-null    object
 2   Publisher_ID            0 non-null      float64
 3   Platform                494 non-null    object
 4   Proprietary_ID          494 non-null    object
 5   Metric_Type             494 non-null    object
 6   Reporting_Period_Total  494 non-null    int64
 7   Jan-2023                494 non-null    int64
 8   Feb-2023                494 non-null    int64
 9   Mar-2023                494 non-null    int64
 10  Apr-2023                494 non-null    int64
 11  May-2023                494 non-null    int64
 12  Jun-2023                494 non-null    int64
 13  Jul-2023                494 non-null    int64
 14  Aug-2023                494 non-null    int64
 15  Sep-2023                494 non-null    int64
 16  Oct-2023                494 non-null    int64
 17  Nov-2023                494 non-null    int64
 18  Dec-2023                494 non-null    int64
dtypes: float64(1), int64(13), object(5)
memory usage: 73.5+ KB

In [59]:
df24.columns
df24.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Database                502 non-null    object
 1   Publisher               502 non-null    object
 2   Publisher_ID            0 non-null      float64
 3   Platform                502 non-null    object
 4   Proprietary_ID          502 non-null    object
 5   Metric_Type             502 non-null    object
 6   Reporting_Period_Total  502 non-null    int64
 7   Jan-2024                502 non-null    int64
 8   Feb-2024                502 non-null    int64
 9   Mar-2024                502 non-null    int64
 10  Apr-2024                502 non-null    int64
 11  May-2024                502 non-null    int64
 12  Jun-2024                502 non-null    int64
 13  Jul-2024                502 non-null    int64
 14  Aug-2024                502 non-null    int64
 15  Sep-2024                502 non-null    int64
 16  Oct-2024                502 non-null    int64
 17  Nov-2024                502 non-null    int64
 18  Dec-2024                502 non-null    int64
dtypes: float64(1), int64(13), object(5)
memory usage: 74.6+ KB

In [60]:
# magnolia databases included in e2024 data. Manual coding
magnolia_databases = [
    "Academic Search Premier",
    "Agricola",
    "Bibliography of Indigenous Peoples in North America",
    "Biography Reference Bank (H.W. Wilson)",
    "Business Source Complete",
    "Computer Source",
    "Consumer Health Complete",
    "Educational Administration Abstracts",
    "Environment Complete",
    "ERIC",
    "Funk & Wagnalls New World Encyclopedia",
    "Garden, Landscape & Horticulture Index",
    "GreenFILE",
    "Health Source: Nursing/Academic Edition",
    "History Reference Source",
    "Hospitality & Tourism Complete",
    "Humanities International Complete",
    "Information Science & Technology Abstracts (ISTA)",
    "Legal Collection",
    "Library, Information Science & Technology Abstracts",
    "Literary Reference Source",
    "Middle and Junior High Core Collection (H.W. Wilson)",
    "Newspaper Source",
    "NoveList",
    "Points of View Reference Source",
    "Professional Development Collection",
    "Read It!",
    "Senior High Core Collection (H.W. Wilson)",
    "The Serials Directory",
    "Teacher Reference Center",
    "TOPICsearch",
    "Vocational Search and Career Collection"
]
len(magnolia_databases)

32

In [61]:
df24['magnolia_db'] = df24['Database'].isin(magnolia_databases)

In [62]:
len(df24[df24['magnolia_db'] == True]['Database'].unique())

32

In [63]:
# Convert to sets
set_main = set(df24['Database'])
set_magnolia = set(magnolia_databases)

# Find MAGNOLIA databases not in the main list
missing_from_main = list(set_magnolia - set_main)

print(missing_from_main)

[]

In [64]:
df23['magnolia_db'] = df23['Database'].isin(magnolia_databases)
df22['magnolia_db'] = df22['Database'].isin(magnolia_databases)
df21['magnolia_db'] = df21['Database'].isin(magnolia_databases)

In [65]:
# Convert to sets
set23_main = set(df23['Database'])
set22_main = set(df22['Database'])
set21_main = set(df21['Database'])

# Find MAGNOLIA databases not in the main list
missing23_from_main = list(set_magnolia - set23_main)
missing22_from_main = list(set_magnolia - set22_main)
missing21_from_main = list(set_magnolia - set21_main)

print(missing23_from_main)
print(missing22_from_main)
print(missing21_from_main)

['Read It!', 'Vocational Search and Career Collection', 'History Reference Source', 'Literary Reference Source', 'Points of View Reference Source']
['Read It!', 'Biography Reference Bank (H.W. Wilson)', 'Vocational Search and Career Collection', 'History Reference Source', 'Literary Reference Source', 'Points of View Reference Source']
['Read It!', 'Bibliography of Indigenous Peoples in North America', 'Vocational Search and Career Collection', 'History Reference Source', 'Points of View Reference Source', 'Literary Reference Source', 'Biography Reference Bank (H.W. Wilson)']

# Matching titles
- Performance is not perfect.

In [66]:
# from: https://magnolia.lib.ms.us/resources/database-list

databases_list = [
    "Academic Search Premier",
    "Academy of American Poets",
    "Agricola", # AGRICOLA
    "AR BookFinder",
    "Bartleby.com Verse Collection",
    "Ben’s Guide to the US Government",
    "Bibliography of Indigenous Peoples in North America",
    'Biography Reference Bank (H.W. Wilson)', # "Biography Reference Bank",
    "Britannica Schools: Elementary",
    "Britannica Schools: Elementary and Middle Schools",
    "Britannica Schools: Fundamentals Pre-K - 2",
    "Britannica Schools: Middle",
    "Business Source Complete",
    "Childrens Core Collection",
    "Computer Source",
    "Consumer Health Complete", # Consumer Health Complete vs. Consumer Health Complete - EBSCOhost. both included in the dataset.
    "Cricket eBooks Collection",
    "DMV Tests",
    "Educational Administration Abstracts",
    "Environment Complete",
    "ERIC", # ERIC (EBSCO)
    "Explora - Middle Schools",
    "Explora - Primary Schools",
    "Explora - Secondary Schools",
    "Find a Book",
    "Funk & Wagnalls New World Encyclopedia",
    'Garden, Landscape & Horticulture Index', # "Garden, Landscape & Horticulture Literature Index",
    "GreenFILE",
    'Health Source: Nursing/Academic Edition', #"Health Source: Nursing & Academic Edition",
    "History Reference Center",
    "History Reference Source", # manually added
    "Hospitality & Tourism Complete",
    "Humanities International Complete",
    'Information Science & Technology Abstracts (ISTA)', # "Information Science & Technology Abstracts",
    "Internet Public Library",
    "LearningExpress Library",
    "Legal Collection",
    'Library, Information Science & Technology Abstracts', #"Library, Information Science & Technology Abstracts (LISTA)",
    "Library of Congress",
    "Literary Reference Center",
    "Literary Reference Source", # manually added
    "Middle and Junior High Core Collection (H.W. Wilson)",
    "Mississippi Digital Library",
    "Mississippi Encyclopedia",
    "My Shakespeare",
    "NASA Kids’ Club",
    "National Archives",
    "Newspaper Source",
    "NoveList",
    "Novelist K8",
    "Points of View Reference Center",
    "Points of View Reference Source", # Manually added
    "Professional Development Collection",
    "Purdue Online Writing Lab",
    'Read It!', #"Read IT",
    "Science News for Students",
    "Senior High Core Collection (H.W. Wilson)",
    'The Serials Directory', #"Serials Directory",
    "Teacher Reference Center",
    "Teacher Reference Source", # Manually added
    "TOPICsearch",
    'Vocational Search and Career Collection', #"Vocational & Career Collection",
    "Worldcat Discovery Service"
]
len(databases_list)

63

In [67]:
set_magnolia - set(databases_list)

set()

In [68]:
from fuzzywuzzy import process

# Define a function to get the best match
# threshold findtuning done!!
def match_title(title, choices, threshold=92):
    match, score = process.extractOne(title, choices) # give the matched choise from the list
    return match if score >= threshold else title

In [69]:
# Apply fuzzy matching
df24['matched_database'] = df24['Database'].apply(lambda x: match_title(x, databases_list))

# Create magnolia_db column: True if matched_database is in the reference list
df24['magnolia_db'] = df24['matched_database'].isin(databases_list)

In [70]:
df24['matched_database'].isin(databases_list)

0      False
1      False
2      False
3      False
4      False
       ...
497    False
498    False
499    False
500    False
501    False
Name: matched_database, Length: 502, dtype: bool

In [71]:
matched_df24 = df24[df24['magnolia_db']==True]
len(matched_df24['Database'].unique())

32

- threshold fintuning of 92 gives the perfect match

In [72]:
set_magnolia - set(matched_df24['Database'].unique())

set()

In [73]:
df23['matched_database'] = df23['Database'].apply(lambda x: match_title(x, databases_list))
df22['matched_database'] = df22['Database'].apply(lambda x: match_title(x, databases_list))
df21['matched_database'] = df21['Database'].apply(lambda x: match_title(x, databases_list))

df23['magnolia_db'] = df23['matched_database'].isin(databases_list)
df22['magnolia_db'] = df22['matched_database'].isin(databases_list)
df21['magnolia_db'] = df21['matched_database'].isin(databases_list)

In [74]:
df21.drop(columns=['Publisher_ID'], inplace=True)
df22.drop(columns=['Publisher_ID'], inplace=True)
df23.drop(columns=['Publisher_ID'], inplace=True)
df24.drop(columns=['Publisher_ID'], inplace=True)

In [75]:
matched_df23 = df23[df23['magnolia_db'] == True]
len(matched_df23['Database'].unique())

32

In [76]:
matched_df23['matched_database'].unique()

array(['Academic Search Premier', 'Agricola',
       'Bibliography of Indigenous Peoples in North America',
       'Biography Reference Bank (H.W. Wilson)',
       'Business Source Complete', 'Computer Source',
       'Consumer Health Complete', 'ERIC',
       'Educational Administration Abstracts', 'Environment Complete',
       'Funk & Wagnalls New World Encyclopedia',
       'Garden, Landscape & Horticulture Index', 'GreenFILE',
       'Health Source: Nursing/Academic Edition',
       'History Reference Center', 'Hospitality & Tourism Complete',
       'Humanities International Complete',
       'Information Science & Technology Abstracts (ISTA)',
       'Legal Collection',
       'Library, Information Science & Technology Abstracts',
       'Literary Reference Center',
       'Middle and Junior High Core Collection (H.W. Wilson)',
       'Newspaper Source', 'NoveList', 'Novelist K8',
       'Points of View Reference Center',
       'Professional Development Collection',
       'Senior High Core Collection (H.W. Wilson)', 'TOPICsearch',
       'Teacher Reference Center', 'The Serials Directory',
       'Vocational Search and Career Collection'], dtype=object)

In [77]:
set_magnolia

{'Academic Search Premier',
 'Agricola',
 'Bibliography of Indigenous Peoples in North America',
 'Biography Reference Bank (H.W. Wilson)',
 'Business Source Complete',
 'Computer Source',
 'Consumer Health Complete',
 'ERIC',
 'Educational Administration Abstracts',
 'Environment Complete',
 'Funk & Wagnalls New World Encyclopedia',
 'Garden, Landscape & Horticulture Index',
 'GreenFILE',
 'Health Source: Nursing/Academic Edition',
 'History Reference Source',
 'Hospitality & Tourism Complete',
 'Humanities International Complete',
 'Information Science & Technology Abstracts (ISTA)',
 'Legal Collection',
 'Library, Information Science & Technology Abstracts',
 'Literary Reference Source',
 'Middle and Junior High Core Collection (H.W. Wilson)',
 'Newspaper Source',
 'NoveList',
 'Points of View Reference Source',
 'Professional Development Collection',
 'Read It!',
 'Senior High Core Collection (H.W. Wilson)',
 'TOPICsearch',
 'Teacher Reference Center',
 'The Serials Directory',
 'Vocational Search and Career Collection'}

In [78]:
set_magnolia - set(matched_df23['Database'].unique())

{'History Reference Source',
 'Literary Reference Source',
 'Points of View Reference Source',
 'Read It!',
 'Vocational Search and Career Collection'}

In [79]:
set(matched_df23['Database'].unique()) - set_magnolia

{'History Reference Center',
 'Literary Reference Center',
 'NoveList K-8',
 'Points of View Reference Center',
 'Vocational and Career Collection'}

# Column name change

In [80]:
df24.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Database                502 non-null    object
 1   Publisher               502 non-null    object
 2   Platform                502 non-null    object
 3   Proprietary_ID          502 non-null    object
 4   Metric_Type             502 non-null    object
 5   Reporting_Period_Total  502 non-null    int64
 6   Jan-2024                502 non-null    int64
 7   Feb-2024                502 non-null    int64
 8   Mar-2024                502 non-null    int64
 9   Apr-2024                502 non-null    int64
 10  May-2024                502 non-null    int64
 11  Jun-2024                502 non-null    int64
 12  Jul-2024                502 non-null    int64
 13  Aug-2024                502 non-null    int64
 14  Sep-2024                502 non-null    int64
 15  Oct-2024                502 non-null    int64
 16  Nov-2024                502 non-null    int64
 17  Dec-2024                502 non-null    int64
 18  magnolia_db             502 non-null    bool
 19  matched_database        502 non-null    object
dtypes: bool(1), int64(13), object(6)
memory usage: 75.1+ KB

In [81]:
# Define rename maps for each year
month_rename_2024 = {
    'Jan-2024': 'Jan', 'Feb-2024': 'Feb', 'Mar-2024': 'Mar', 'Apr-2024': 'Apr',
    'May-2024': 'May', 'Jun-2024': 'Jun', 'Jul-2024': 'Jul', 'Aug-2024': 'Aug',
    'Sep-2024': 'Sep', 'Oct-2024': 'Oct', 'Nov-2024': 'Nov', 'Dec-2024': 'Dec'
}

month_rename_2023 = {
    'Jan-2023': 'Jan', 'Feb-2023': 'Feb', 'Mar-2023': 'Mar', 'Apr-2023': 'Apr',
    'May-2023': 'May', 'Jun-2023': 'Jun', 'Jul-2023': 'Jul', 'Aug-2023': 'Aug',
    'Sep-2023': 'Sep', 'Oct-2023': 'Oct', 'Nov-2023': 'Nov', 'Dec-2023': 'Dec'
}

month_rename_2022 = {
    'Jan-2022': 'Jan', 'Feb-2022': 'Feb', 'Mar-2022': 'Mar', 'Apr-2022': 'Apr',
    'May-2022': 'May', 'Jun-2022': 'Jun', 'Jul-2022': 'Jul', 'Aug-2022': 'Aug',
    'Sep-2022': 'Sep', 'Oct-2022': 'Oct', 'Nov-2022': 'Nov', 'Dec-2022': 'Dec'
}

month_rename_2021 = {
    'Jan-2021': 'Jan', 'Feb-2021': 'Feb', 'Mar-2021': 'Mar', 'Apr-2021': 'Apr',
    'May-2021': 'May', 'Jun-2021': 'Jun', 'Jul-2021': 'Jul', 'Aug-2021': 'Aug',
    'Sep-2021': 'Sep', 'Oct-2021': 'Oct', 'Nov-2021': 'Nov', 'Dec-2021': 'Dec'
}

df21.rename(columns=month_rename_2021, inplace=True)
df22.rename(columns=month_rename_2022, inplace=True)
df23.rename(columns=month_rename_2023, inplace=True)
df24.rename(columns=month_rename_2024, inplace=True)

In [82]:
df22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433 entries, 0 to 432
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Database                433 non-null    object
 1   Publisher               433 non-null    object
 2   Platform                433 non-null    object
 3   Proprietary_ID          433 non-null    object
 4   Metric_Type             433 non-null    object
 5   Reporting_Period_Total  433 non-null    int64
 6   Jan                     433 non-null    int64
 7   Feb                     433 non-null    int64
 8   Mar                     433 non-null    int64
 9   Apr                     433 non-null    int64
 10  May                     433 non-null    int64
 11  Jun                     433 non-null    int64
 12  Jul                     433 non-null    int64
 13  Aug                     433 non-null    int64
 14  Sep                     433 non-null    int64
 15  Oct                     433 non-null    int64
 16  Nov                     433 non-null    int64
 17  Dec                     433 non-null    int64
 18  magnolia_db             433 non-null    bool
 19  matched_database        433 non-null    object
dtypes: bool(1), int64(13), object(6)
memory usage: 64.8+ KB

# MALC and A&I

In [83]:
malc = pd.read_excel("./data/EBSCOmalc.xlsx")

In [84]:
malc

,Database Name,Proprietary_ID,abstract_index
0,America: History & Life,EBSCOhost:ahl,True
1,America: History and Life with Full Text,EBSCOhost:31h,False
2,Art & Architecture Complete,EBSCOhost:vth,False
3,CINAHL Plus with Full Text,EBSCOhost:rzh,False
4,Communication & Mass Media Complete,EBSCOhost:ufh,False
5,EconLit,EBSCOhost:ecn,True
6,GeoRef,EBSCOhost:geh,True
7,GeoRef In Process,EBSCOhost:guh,True
8,Historical Abstracts,EBSCOhost:hia,True
9,Historical Abstracts with Full Text,EBSCOhost:30h,False
10,Inspec,EBSCOhost:inh,True
11,Library Literature & Information Science Full ...,EBSCOhost:llf,False
12,Mental Measurements Yearbook with Tests in Print,EBSCOhost:mmt,True
13,MLA International Bibliography,EBSCOhost:mzh,True
14,Philosophers Index,EBSCOhost:phl,True
15,Political Science Complete,EBSCOhost:poh,False
16,PsycArticles,EBSCOhost:pdh,False
17,PsycINFO,EBSCOhost:psyh,True
18,RILM Abstracts of Music Literature,EBSCOhost:ram,True

In [85]:
# Clean malc column names and ensure types
malc.columns = malc.columns.str.strip()  # remove any whitespace
malc['Proprietary_ID'] = malc['Proprietary_ID'].astype(str)

# Loop over each DataFrame and perform matching and merging
for df in [df21, df22, df23, df24]:
    df['Proprietary_ID'] = df['Proprietary_ID'].astype(str)

    # Create boolean 'malc' column indicating match
    df['malc'] = df['Proprietary_ID'].isin(malc['Proprietary_ID'])

    # Merge to get 'abstract_index' from malc
    merged = df.merge(
        malc[['Proprietary_ID', 'abstract_index']],
        on='Proprietary_ID',
        how='left'
    )

    # Assign 'abstract_index' to the original df
    df['abstract_index'] = merged['abstract_index']

In [93]:
print(len(df21[df21['malc'] == True]['Proprietary_ID'].unique()),
len(df22[df22['malc'] == True]['Proprietary_ID'].unique()),
len(df23[df23['malc'] == True]['Proprietary_ID'].unique()),
len(df24[df24['malc'] == True]['Proprietary_ID'].unique()))

17 17 17 19

In [101]:
print(set(df21[df21['malc'] == True]['matched_database'].unique()) - set(df22[df22['malc'] == True]['matched_database'].unique()),
set(df21[df21['malc'] == True]['matched_database'].unique()) - set(df23[df23['malc'] == True]['matched_database'].unique()),
'Two DBs are only shows up in 24, but not for 21~23: ', set(df24[df24['malc'] == True]['matched_database'].unique()) - set(df23[df23['malc'] == True]['matched_database'].unique())
)

set() set() Two DBs are only shows up in 24, but not for 21~23:  {'Historical Abstracts with Full Text', 'America: History and Life with Full Text'}

In [106]:
import pandas as pd

# Define output path
output_path = "./data/combined_data.xlsx"

# Write to Excel with multiple sheets
with pd.ExcelWriter(output_path, engine='xlsxwriter') as writer:
    df21.to_excel(writer, sheet_name='2021', index=False)
    df22.to_excel(writer, sheet_name='2022', index=False)
    df23.to_excel(writer, sheet_name='2023', index=False)
    df24.to_excel(writer, sheet_name='2024', index=False)

# Reshape Data Structure - Can be done on Tableau

In [ ]:
df21['Metric_Type'].unique()

array(['Searches_Regular', 'Total_Item_Investigations',
       'Total_Item_Requests', 'Unique_Item_Investigations',
       'Unique_Item_Requests', 'Searches_Federated',
       'Unique_Title_Investigations', 'Unique_Title_Requests',
       'Searches_Automated', 'Limit_Exceeded'], dtype=object)

In [ ]:
df22['Metric_Type'].unique()

array(['Searches_Regular', 'Total_Item_Investigations',
       'Total_Item_Requests', 'Unique_Item_Investigations',
       'Unique_Item_Requests', 'Unique_Title_Investigations',
       'Unique_Title_Requests', 'Searches_Automated'], dtype=object)

In [ ]:
df23['Metric_Type'].unique()

array(['Searches_Regular', 'Total_Item_Investigations',
       'Total_Item_Requests', 'Unique_Item_Investigations',
       'Unique_Item_Requests', 'Unique_Title_Investigations',
       'Unique_Title_Requests', 'Searches_Automated', 'Limit_Exceeded'],
      dtype=object)

In [ ]:
df24['Metric_Type'].unique()

array(['Searches_Regular', 'Total_Item_Investigations',
       'Total_Item_Requests', 'Unique_Item_Investigations',
       'Unique_Item_Requests', 'Unique_Title_Investigations',
       'Unique_Title_Requests', 'Searches_Automated', 'Limit_Exceeded'],
      dtype=object)

In [ ]:
def reshape_df(df, month_cols):
    # Step 1: Melt Jan–Dec into rows
    melted = df.melt(
        id_vars=['Database', 'Publisher', 'Platform', 'Proprietary_ID', 'Metric_Type'],
        value_vars=month_cols,
        var_name='Month',
        value_name='Count'
    )

    # Step 2: Pivot Metric_Type to columns
    reshaped = melted.pivot_table(
        index=['Database', 'Publisher', 'Platform', 'Proprietary_ID', 'Month'],
        columns='Metric_Type',
        values='Count',
        fill_value=0
    ).reset_index()

    return reshaped

In [ ]:
month_cols = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
              'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

df21_tidy = reshape_df(df21, month_cols)

In [ ]:
df21_tidy

Metric_Type,Database,Publisher,Platform,Proprietary_ID,Month,Limit_Exceeded,Searches_Automated,Searches_Federated,Searches_Regular,Total_Item_Investigations,Total_Item_Requests,Unique_Item_Investigations,Unique_Item_Requests,Unique_Title_Investigations,Unique_Title_Requests
0,AHFS Consumer Medication Information,EBSCO Publishing,EBSCOhost,EBSCOhost:l0h,Apr,0.0,0.0,0.0,241.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AHFS Consumer Medication Information,EBSCO Publishing,EBSCOhost,EBSCOhost:l0h,Aug,0.0,0.0,0.0,75.0,0.0,0.0,0.0,0.0,0.0,0.0
2,AHFS Consumer Medication Information,EBSCO Publishing,EBSCOhost,EBSCOhost:l0h,Dec,0.0,0.0,0.0,164.0,0.0,0.0,0.0,0.0,0.0,0.0
3,AHFS Consumer Medication Information,EBSCO Publishing,EBSCOhost,EBSCOhost:l0h,Feb,0.0,0.0,0.0,176.0,4.0,2.0,1.0,1.0,0.0,0.0
4,AHFS Consumer Medication Information,EBSCO Publishing,EBSCOhost,EBSCOhost:l0h,Jan,0.0,0.0,0.0,62.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1123,eBook Collection (EBSCOhost),Undefined,EBSCOhost,EBSCOhost:nlebk,Mar,0.0,0.0,0.0,671.0,1618.0,755.0,788.0,576.0,788.0,576.0
1124,eBook Collection (EBSCOhost),Undefined,EBSCOhost,EBSCOhost:nlebk,May,0.0,0.0,0.0,167.0,369.0,172.0,192.0,132.0,192.0,132.0
1125,eBook Collection (EBSCOhost),Undefined,EBSCOhost,EBSCOhost:nlebk,Nov,0.0,0.0,0.0,365.0,1532.0,683.0,783.0,528.0,783.0,528.0
1126,eBook Collection (EBSCOhost),Undefined,EBSCOhost,EBSCOhost:nlebk,Oct,0.0,0.0,0.0,459.0,1892.0,827.0,975.0,695.0,975.0,695.0
1127,eBook Collection (EBSCOhost),Undefined,EBSCOhost,EBSCOhost:nlebk,Sep,0.0,0.0,0.0,507.0,4769.0,1788.0,2775.0,1560.0,2775.0,1560.0